/* Class Tag */

.links {
    color:  red;
}

.b{
    color: blue;
}



/* ID Tag */
#sec-a{
    color: purple;
}

ul li{
    list-style-type: none;
    display: inline-block;
}

a {
    color:  black;
}

ul .navB{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  display: inline-block;
}

li .listB{
  float: left;
}

.listB a {
  display: block;
  color: purple;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(146, 138, 138);
}
/* pop-out for img*/
.pop-out
    {
        transition: transform .5s;
    }

    .pop-out:hover
    {
        -ms-transform: scale(1.5, 1.5);
        -webkit-transform: scale(1.5, 1.5);
        transform: scale(1.5, 1.5);
    }
    /*Center Page*/
div {text-align: center;}
    ol{text-align: center;
      list-style-position: inside;}
    iframe {text-align: center ;}
      /*background img*/
body{
        background-image: url('file:///Users/jasminenaraine/Documents/Warm-sunset-iphone-wallpaper-ilikewallpaper_com.jpeg');}